@charset "utf-8";
/* CSS Document */

* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-family: "맑은 고딕";
  color: #333333;
}
body {
  min-width: 1200px; /* 와이어프레임 최소 너비 */
  min-height: 900px; /* 와이어프레임 최소 높이 */
  font-size: 20px;
}
a {
  text-decoration: none;
  display: block;
}
